.noteAddNew {
  cursor: pointer;
  height: 225px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-card);
}

.iconWrapper {
  border: 1px solid var(--color-icon);
  border-radius: 8px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iconAdd {
  font-size: 32px;
  color: var(--color-icon);
}
