@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --background-primary: #ffffff;
  --text-primary: #3f3f3f;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --background-card: #f9f9f9;
  --color-icon: #a3a3a3;
  --color-border: #d3d3d3;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
